/*!
 * netention.css v1.5
 * Discombobulated by @rezn8d
 */

.ui-autocomplete {
    z-index: 5000 !important;
}
a, a:visited {
    cursor: pointer;
    color: black;
}

a:hover {
    color: blue !important;
}
.focusMap {
    width: 98%;
    height: 250px;
    float: none !important;
}
.TypePropertyButtons {
    padding-left: 0.25em;
    padding-top: 0.15em;
    padding-bottom: 0.25em;
}
.TypePropertyButtons button {
    font-size: 60%;
    padding: 0.25em;
}
.TypesMenuButtons {
    height: 35px;
    background: black;
}
.PropertyEdit {
    margin-bottom: 0.25em;
}
.PropertyEdit textarea {
    width: 100%;
}

.AvatarIcon {
    float: left;
    margin-right: 4px;
    height:1.85em;
    width:1.85em;
    background-size: cover;
}
.chatViewLineAuthor .AvatarIcon {
    float: right;
    margin: 0;
}

.DataSubViewMenu {
    margin-left: 2em;
    float: right;
    color: white;
}
.ContentScroll {
    overflow: auto;
}
#teamContent {
    width: 100%;
    overflow: none;
    height: 95%;
}
.DataViewFilter {
    background: transparent;
    color: white;
}
div.olMapViewport {
    z-index: 1;
}
#uitheme,
#uilanguage {
    font-size: 75%;
}
.SelfBarSection {
    padding: 0.5em;
}
#Profile {
    clear: both;
}
.ImportanceButtons {
    float: right;
    position: relative;
    top: 0;
}
.ImportanceButtons button {
    padding: 2px;
    margin: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-width: 2px;
    height: 20px;
}
.idLabel {
    font-size: 70%;
    opacity: 0.7;
    line-height: 70%;
}
.valueInput {
    width: 95%;
    font-size: 125%;
    margin-bottom: 0.4em;
}
.updateButton {
    font-weight: bold;
}
.eBottom {
    border-top: 1px solid gray;
    clear: both;
    float: right;
    width: 100%;
    text-align: right;
}
.typeCollapsible {
    margin-left: 1em;
}
.typeMenu {
    float: left;
    width: 32%;
}
.valueArea {
    overflow: auto;
    width: 63%;
    float: right;
    margin-top: 0.5em;
}
.PropertyEdit input[type="checkbox"] {} .ReplyWidget textarea {
    width: 98%;
    height: 5em;
}

.objectView .propertySection .tagLabel img {
    margin-left: 0;
}

.objectView .tagSectionItem {
    border: 1px solid rgba(127,127,127,0.35);
}
    
.objectView .tagSectionItem div, .objectView .tagSectionItem span {
    clear: none;
}
.ObjectViewButtons {
    float: right;
    padding: 0;
    opacity: 1.0 !important;
}
.ObjectViewButtons * {
    margin: 0 !important;
    padding: 0;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0;
    vertical-align: middle;
}
.ObjectViewButtons input {
    opacity: 0.5;
}

.tagDescription {
    width: 98.5%;
    height: 5em;
}
.tagLabel {
    font-weight: bold;
    font-size: 125%;
}
.tagLabel img {
    /* may not be necessary anymore since adding .TagButtonIcon */
    height: 1em;
    margin-right: 0.25em;
}
.tagLabelProperties {
    margin-left: 2em;
    font-size: 90%;
}
.TagButtonIcon {
    height: 1em;
}

.tagButtons {
    font-weight: bold;
    position: relative;
    right: 0;
    float: right;
    margin-left: 0.5em;
    opacity: 0.5;    
}

.tagSection {
    width: 100%;
    clear: both;
    margin: 0;
    padding: 0;
}
.tagSectionItem {
    padding: 5px;
    margin: 5px;
    border: 1px solid rgba(127,127,127,0.5);    
}
.tagSectionItem .tagButtons {
    font-size: 70%;    
}

.tagSectionHover {
    border: 1px solid blue;
    background-color: rgba(255,255,255,0.1);
} 

.createSubObjectButton {
    font-size: 80%;
}

.ObjectEditDiv .tag0, 
.ObjectEditDiv .tag25, 
.ObjectEditDiv .tag50, 
.ObjectEditDiv .tag75 {
    float: left;  clear: none;
}

.ObjectEditDiv .tag100 .tagButtons {
    margin-bottom: 0px;
}

.ObjectEditDiv .tag0 .tagButtons button, 
.ObjectEditDiv .tag25 .tagButtons button, 
.ObjectEditDiv .tag50 .tagButtons button, 
.ObjectEditDiv .tag75 .tagButtons button {
    padding: 0;
}

.ObjectEditDiv .tag0, .ObjectEditDiv .tag25, .ObjectEditDiv .tag50 {
    width: 25%; min-width: 25%; max-width: 25%;    
}
.ObjectEditDiv .tag75 {    width: 50%; min-width: 50%; max-width: 50%;      }
.ObjectEditDiv .tag100 {    width: 100%; min-width: 100%; max-width: 100%;      }

.objectView .tag0, .objectView .tag25, .objectView .tag50 {
    width: 25%; min-width: 25%; max-width: 25%;    
    float: left; clear: none;
    font-size: 75%;
}
.objectView .tag75 {    
    width: 50%; min-width: 50%; max-width: 50%;      
    float: left; clear: none;
    font-size: 85%;
}
.objectView .tag100 {    width: 100%; min-width: 100%; max-width: 100%;      }

.objectView .propertySection .tagLabel { font-weight: bold; }


.tag0 { opacity: 0.25;  }
.tag25 { opacity: 0.5; }
.tag50 { opacity: 0.7;  }
.tag75 { opacity: 0.95;  }
.tag100 { opacity: 1.0; }

.objectEditDiv {
    height: 100%;
}
.tagSectionControl {
    border: 0;
    border-top: 1px solid rgba(127,127,127,0.25); 
    margin-top:0.5em;
    text-align: right;    
}
.propertySection .tagLabel {
    font-size: 90%;
    font-weight: normal;
}
.tagSectionEditable {
}

.tagButtons button {
    border: 0;
    background: transparent;
    margin: 0;
    margin-left: 0.1em;
    margin-right: 0.1em;
    font-weight: bold;
    font-size: 125%;
}



.tagButtonsLeft {
    float: left !important;
    left: 0 !important;
}

.tagSectionHovered {
    background-color: rgba(255, 255, 255, 0.8);
}
.tagLink, .TagChoice {
    padding-left: 1.1em !important;    
    background-size: auto 1em;
    background-repeat:no-repeat;
}
.MetadataLine {
    opacity: 0.8;
    word-wrap: break-word;
    font-weight: normal;
    clear: both;
    padding-top:2px;
}
.MetadataLine a, .MetadataLine button {
    width: auto !important;
    min-width: inherit !important;
    max-width: inherit !important;    
    font-size: 100%;
    float: inherit !important;
}

.MetadataLine img {
    height: 1em;
}
/*
.MetadataLine img:hover {
    height: 2em;
}*/

#FocusTypes img {
    height: 1em;
    margin-right: 0.2em;
}
.tagSlider {
    float: right;
    width: 70%;
}
.tagSliderLabel {
    clear: both;
    float: left;
    width: 25%;
    font-weight: bold;
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
.trendTagLabel {
    float: left;
    width: 24em;
    clear: both;
}
.trendTagLabel img {
    height: 1em;
}
.trendTagCount {
    float: left;
    width: 6em;
}
.Trends_TimeSegmentBox {
    padding: 0.25em;
    margin-bottom: 0.25em;
    border: 1px solid gray;
    min-height: 1em;
}
.Trends_FocusArea {
    width: 30%;
    float: left;
}
.Trends_TagCountArea {
    width: 64%;
    float: right;
}
#LoadingSplash {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: white;
    z-index: 1000000;
}
#LoadingSplash h1 {
    text-align: center;
}
.ui-pnotify.stack-bottomleft {
    bottom: 25px;
    left: 25px;
    top: auto;
    right: auto;
}
#Menu {
    display: none;
}
#ViewSelect {} .ViewSelectNormal {} .ViewSelectIndented {
    padding-left: 50px;
}
#ViewSelect {
    float: left;
    line-height: 0;
}
#ViewOptions {
    text-align: right;
    float: right;
    padding-top: 0.5em;
    width: 60%;
}
.FocusSection {
    padding: 0.2em;
    border-right: 5px solid rgba(125, 25, 0, 0.5);
    -webkit-transition: background-color 0.618s ease-in;
    -moz-transition: background-color 0.618s ease-in;
    -o-transition: background-color 0.618s ease-in;
}
#focusName,
#focusDescription {
    width: 100%;
}
#SaveButtonWrapper {
    /* text-align: right; */
    float: right;
    margin-top: 1em;
}
.map {
    width: 100%;
    height: 200px;
}
#FocusName,
#FocusDescription {
    width: 97%;
}
#FocusDescriptionSection,
#FocusMapSection {} #FocusMapSection,
#FocusUploadSection,
.FocusSection {
    margin-top: 1.0em;
}
#ViewOptions select {
    width: auto;
}
.PropertyRemoveButton {
    float: right;
}
#FocusModeSelect {
    width: auto;
    margin-top: 4px;
    padding: 1px;
}
#ui-dialog {
    z-index: 2000 !important;
}



.TagTree {
    font-size: 160%;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
.nameInput {
    padding: 3px;
    text-indent: 15px;
    font-size: 150%;
}
.nameInputWide {
    width: 98%;
}
.tagSuggestionsWrap {
    overflow: auto;
    max-width: 100%;
    margin-left: 1em;
    clear: both;
}
.tagSuggestions {
    margin: 0em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    overflow: auto;
    display: table;
    table-layout: fixed;
}
.tagSuggestions a {
    text-decoration: none;
    font-size: 75%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    min-width: 4em;
}
.tagSuggestions a:hover {
    color: #33b;
}
.tagSuggestions img {
    height: 1em;
}
#MatchedTypes button {
    margin: 0.2em;
    opacity: 0.5;
    font-size: 80%;
    font-variant: italic;
}
#footer-span {
    position: absolute;
    bottom: 5px;
    right: 5px;
    float: right;
}
#footer-brand {
    height: 32px;
    width: 32px;
    margin: 5px 10px;
}
#ViewSelect {
    float: left;
}
/*!
 * Properly formatted CSS section
 * everything above this line needs cleaning and moved below ~ @rezn8d
 */

/* Global Rules */

/* * { outline:none; } */

/* removed because it was taking ~8% of CSS processing accorindg to Chrome profiler */

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: Arial, sans;
}
.nobg {
    background: #000000 !important;
    background-image: none !important;
}
.shadow {
    moz-box-shadow: 0px 0px 24px #000000;
    -webkit-box-shadow: 0px 0px 24px #000000;
    box-shadow: 0px 0px 24px #000000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
    //filter: progid: DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
}
.left {
    float: left;
}
.right {
    float: right;
}
/* Overthrow CSS:  Enable overflow: auto on elements with overthrow class when html element has overthrow-enabled class */

.overthrow-enabled .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.overthrow-enabled #content.overthrow {
    height: 100%;
}
.overflow-hidden {
    overflow: hidden !important;
}
/* jQuery UI overrides */

.ui-widget-header a {
    color: inherit !important;
}
/* Loading Login Screen */

#LoadingSplash {
    background: url('/theme/cybernetic/p2p_banner.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    position: fixed;
}
#LoadingSplash ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    height: 100px;
}
#LoadingSplash ul li {
    float: left;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    width: 16%;
    list-style-type: none;
    text-align: center;
}
#LoadingSplash ul li span {
    clear: both;
    font-size: .7em;
    display: none;
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
}
#LoadingSplash ul li span:hover {
    display: block;
    clear: both;
    font-size: .7em;
    display: none;
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
}
#LoadingSplash ul li img {
    margin: 5px 0 0 0;
    padding: 0;
    width: 90%;
    height: auto;
    filter: gray;
    _filter: url(filters.svg#grayscale);
    -webkit-filter: grayscale(1);
}
#LoadingSplash ul li img:hover {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    filter: none !important;
    -webkit-filter: none !important;
}
#openid-img {
    width: 80%;
    height: auto;
    clear: both;
    display: block;
    margin: 10px auto;
}
#loginLogo {
    width: 80%;
    height: auto;
    margin: 10px auto;
    display: block;
    clear: both;
}
#LoadingSplash2 {
    background-color: white;
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
}
/* View Screen */

#ViewWrapper {
    border: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#View { height: 100%; }

#embed-frame {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    margin: 0;
    outline: none;
    border: none;
    overflow: auto;
    background: #000;
    padding: 0;
    display: block;
}
/*div.olMapViewport { z-index: 1 !important;; }
div.olControlZoom { top:auto !important; bottom:8px !important; }*/

.ViewControl {
    padding: 0;
    margin: 0;
    display: block;
    float: left;
    border: 0;
    background-color: #333;
    opacity: 0.5;
}
.ViewControl:hover,
.ViewActive {
    opacity: 1.0;
    background-color: #fff;
}
.ViewControl img {
    width: 45px;
    background-color: #222;
}
.view-indented {
    left: 55px !important;
    border-left: none !important;
    width: auto !important;
}
.view-indented-more {
    left: 160px !important;
}
/* User Control Panel */

#toggle-menu {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 25;
    width: 45px;
    height: 45px;
    max-width: 45px;
    cursor: crosshair;
}
#toggle-menu img {
    width: 45px;
    height: 45px;
    margin: 0;
}
#AvatarViewMenu {}
/*.toggle-submenu-absolute {
        position:absolute; top: 55px; left: 5px; width: 45px; max-width: 45px;
}*/

#AvatarViewMenu button {
    padding: 1px;
}
#AvatarViewMenu input {
    width: 43px;
}
#NotificationArea {
    z-index: 5000;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 200%;
}
#ViewMenu {
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    width: 150px;
    margin: 0;
    padding: 0;
    overflow: hidden !important;
    height: 100%;
}
.viewmenu-container {
    position: relative;
    display: block;
    padding: 10px;
    overflow: visible;
    text-align: center;
}
#AvatarButton,
#AvatarButton img {
    width: 70px;
    height: 70px;
    margin: 0;
    padding: 0;
    z-index: 25;
}
#AvatarButton {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}
#AvatarButton img {
    border: none;
    cursor: crosshair;
}
#ViewMenu .section {
    clear: both;
    padding-top: 0.5em;
}
#AvatarFocus {
    bottom: 0;
    padding-bottom: 5px;
}
.TagBar {
    font-size: 85%;
}
.TagBar .ui-buttonset label span {
    padding-right: 0.5em;
    padding-left: 0.5em;
}
#FocusEdit {
    height: auto;
    margin: 0;
    display: block;
    clear: both;
    padding: 0;
}
#FocusEdit button {
    font-size: .8em;
}
#FocusEdit .ObjectEditDiv .tagSection {
    float: none !important;
}
#FocusEdit .tagSection {
    padding: 0;
    margin: 0;
    clear: both;
}
#FocusMainMenu {
    clear: both;
    width: 100%;
    margin: 0px 0px 20px 0px;
    padding: 0;
}
#Focus {
    width: 98%;
    border: none;
    margin: 20px 0px;
}
#FocusTagTree {
    text-align: left !important;
    overflow: auto !important;
    margin-bottom: 0.25em;
}
.jstree {
    height: auto;
    margin: 0px 0px 10px 0px;
    padding: 10px 20px;
    position: relative;
    overflow: visible;
    display: block;
    clear: both;
    border: 1px solid #1d1d1d;
    text-align: left;
}
.jstree-header {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: visible;
    display: block;
    clear: both;
    text-align: center;
    border: 1px solid #1d1d1d;
    /*font-size: 14px !important;
    height: 22px*/
}
.jstree,
.jstree input,
.jstree-dnd-helper,
#vakata-contextmenu {
    font-size: 16px;
}
#expandor {
    position: absolute;
    top: 1px;
    right: 1px;
}
#close-url-tree {
    position: relative;
    float: right;
    margin: 1px 5px 1px 0px;
}
#expand-url-tree {
    position: relative;
    float: right;
    margin: 1px;
}
#close-layer-tree {
    position: relative;
    float: right;
    margin: 1px 5px 1px 0px;
}
#expand-layer-tree {
    position: relative;
    float: right;
    margin: 1px;
}
.tree {
    height: auto;
    overflow: visible;
}
.jstree ul,
.jstree li {
    border: 0px !important;
    outline: 0px !important;
}
#AnonymousLoginButton {
    display: none;
}
#themeSelect {
    width: 250px;
    clear: both;
    font-size: 1.2em;
    padding: 3px;
}
/* Grid, List View */

.objectView {
    position: relative;
    padding: 4px;
    margin-bottom: 0;
    display: block;
    clear: both;
}
.objectView ul li {
    word-wrap: break-word;
}
.objectGridItem3, .objectGridItem2 {
    width: 32%;
    float: left;
    margin: 0;
    padding: 0;        
}
.objectGridItem3 .objectView, .objectGridItem2 .objectView {
    padding: 4px !important;
    height: auto;
    clear: none;
    margin: 4px;
}

.objectGridItem2 {
    width: 49%;
}
.objectListItem {
    width: 98%;
    height: auto;
    clear: none;
    margin-left: 4px;
    margin-right: 0;
    margin-bottom: 0.5em;
}
.ObjectViewHideButton {
    height: 30px;
    position: absolute;
    top: -4px;
    right: -4px;
    opacity: 0;
    display: inline-block;
}
.ObjectViewHideButton:hover {
    opacity: 1;
}
.ObjectViewHideButton button {
    position: relative;
    padding: 5px;
    margin: 0px;
}
.objectView h1 {
    font-size: 140%;
    font-weight: bold;
    margin: 0;
}
.objectView .metadataReplyButton {
    padding: 1px;
    margin-left: 0.2em;
    font-size: 90%;
    border: 1px solid gray;
    background-color: transparent;
    cursor: pointer;
}
.objectView h1  {
    word-break: break-all;
}

.objectView h2 {
    font-size: 105%;
    margin: 0;
}
.objectView h3 {
    font-weight: normal;
    color: #333;
    margin: 0;
}
.objectView ul {
    list-style-type: none;
    margin-bottom: 0.15em;
    padding-left: 0;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
}
.objectView ul li {
    padding: 0.3em;
}
.objectView h3,
.objectView p,
.objectView time {
    padding-left: 0.1em;
    padding-right: 0.1em;
    padding-top: 5px;
}
.objectViewImg {
    max-height: 12em;
    max-width: 100%;
}
.MessageSubject {
    width: 100%;
    font-size: 125%;
}
.MessageDescription {
    width: 98%;
}
.ObjectReply {
    margin: 0.8em 0.1em 0.0em 2em !important;
    font-size: 90%;
    opacity: 0.95;
    clear: both;
}
.reply-section {
    text-align: left;
}
.object-reply-button {
    padding: 1px 4px !important;
}
.ObjectEditDiv button img {
    height: 1em;
}
/* Chat */

.ChatViewContent {
    height: 100%;
    margin-left: 1em;
    height: 90%;
    overflow: auto;
    min-width: 50%;
}
.ChatViewContentLine {
    border-left: 3px solid transparent;
    border-bottom: 1px solid gray;
    display: inline-block;
    width: 95%;
    padding-bottom: 0.12em;
    padding-top: 0.12em;
    cursor: pointer;
}
.ChatViewContentLine p {
    margin: 0;
}
.ChatViewContentLineHover {
    border-left: 3px solid gray;
}
/*.ChatViewRoster { float: left; width: 23%; max-height: 95%; overflow: auto; left: 0; position: fixed; padding-left: 4em; }*/

.ChatViewInput {
    position: fixed;
    text-align: right;
    bottom: 0;
    width: 47%;
    right: 0;
}

.ChatViewRoster {
    position: fixed;
    text-align: left;
    bottom: 0;
    width: 47%;
    height: 2.5em;	
    overflow: auto;
}
.ChatViewRoster img {
    height: 2em;
    margin-right: 3px;
    cursor: pointer;
    border: 1px solid gray;
}

.ChatViewUpdates {
    position: fixed;
    left: 40%;
    top: 0;
    width: 20%;
    padding:1em;
    text-align: center;
}

@media (max-width: 699px) {
    .ChatViewContent {
        margin-left: 0;
    }
    .ChatViewInput {
        right: 0;
    }
    .ChatViewInput input {
        width: 52%;
    }
    .ChatViewContentLine {
        border-left: 0;
    }
    #welcome button {
        margin: 0 !important;
    }
    #AvatarFocus {
        text-align: right;
        float: right;
    }
    #AvatarFocus .ViewControl:nth-child(2) {
        clear:both !important;
    }
    #AvatarFocus .tagSection {
        float: right  !important;
        clear: none !important;
    }
    #FocusEdit {
        clear: none !important;
    }

}
@media (min-width: 700px) {
    .ChatViewInput input {
        width: 80%;
    }
}
.InlineSelfButton {
    cursor: pointer;
    text-decoration: none;
}
.InlineSelfButton div {
    position: relative;
    right: 0;
    clear: both;
    margin-bottom:0.2em;
}
.chatViewLineContent {
    float: left;
    width: 86%;
}
.chatViewLineContent .FirstReply {
    margin-left: 0 !important;
}

.chatViewLineContent img {
    max-height: 4em;
}
.chatViewLineAuthor {
    clear: both;
    width: 10%;
    float: left;
    text-align: right;
    padding-right: 15px;
    margin-bottom: 0.1em;
}
.chatViewLineContent ul {
    font-size: 75%;
}
.chatViewLineAuthor img {
    height: 2em;
    margin-left: 4px;
}
/* Team/Self Browser */

.SelfView {
    width: 100%;
}
.SelfRoster {
    float: left;
    width: 25%;
    padding-right: 1em;
    max-height: 95%;
    position: fixed;
    overflow: auto;
    margin-top: 1em;
}
.SelfRoster .objectView {
    cursor: crosshair;
}
.SelfViewTags {
    width: 50%;
    float: left
}
.SelfViewTime {
    width: 50%;
    float: left;
    max-height: 400px;
    overflow-y: scroll;
}
.SelfViewContent {
    width: 68%;
    float: right;
    margin-right: 1em;
}
.SelfViewSide button {
    float: left;
    margin: 0.3em;
}
#Bio {
    width: 100%;
    float: left;
    margin-bottom: 1em;
}
#Bio button {
    font-size: 150%;
}
#SelfMap {
    width: 40%;
    height: 250px;
}
.SelfCode {
    width: 95%;
    height: 90%;
}
.SelfMeta {
    float: left;
}
.SelfMeta input,
.SelfMeta button {
    font-size: 150%;
}
.ui-dialog-content .WikiBrowser-REMOVED {
    max-height: 400px;
}
.ui-dialog .ui-dialog-content {
    padding: 4px !important;
}

.WikiBrowser {
    clear: both;
    overflow: auto;
    background-color: white;
    color: black;
    width: 98%;
    padding: 0.75em;
}
.WikiBrowser h1 {
    margin-top: 0;
}
.WikiBrowser a,
.WikiBrowser a:visited {
    border: 1px solid gray;
    padding: 1px;
    cursor: crosshair;
    color: black !important;
}
.WikiBrowser .hlist li {
    margin: 0;
    display: inline;
    white-space: nowrap;
}
.WikiBrowser .hlist {
    margin-bottom: 2em !important;
}
.WikiBrowser td {
    background: none !important;
}
.WikiTagSave {
    margin-top: 5px;
    font-size: 150%;
}
.WikiBrowserHeader {
    float: center;
    text-align: center;
    padding: 0.5em;
}
#BioText {
    border: 1px solid gray;
    width: 100%;
    height: 12em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
    overflow: scroll
}
#Bio {
    text-align: right;
}
.SelfAddTagButton {
    float: right;
    width: auto;
}
.SelfViewButtonPanel {
    clear: both;
    padding-bottom: 2.5em;
    border-bottom: 1px solid gray;
    margin-bottom: 1.0em;
}
.SelfView textarea {
    width: 100%;
    height: 5em;
}
.SelfTimeRowHeader {
    width: 25%;
    float: left;
    clear: both;
    text-align: right;
    vertical-align: top;
}
.SelfTimeWantToPeriod {
    width: 25%;
    float: left;
    border: 1px solid gray;
    margin: 1px;
    cursor: crosshair;
    vertical-align: top;
}
.SelfTimeCouldDoPeriod {
    width: 25%;
    float: left;
    margin: 1px;
    vertical-align: top;
}
.SelfTimeFilled {
    background-color: rgba(125, 125, 125, 0.2);
}
.SelfTimeTagTree {}
/*
*   pNotify: jquery.pnotify.default.css
* 	Version: 1.2.0. Link: http://pinesframework.org/pnotify/   
*/

.well {
    position: absolute;
    top: 0px !important;
    right: 0px !important;
    width: 200px !important;
    max-width: 200px !important;
}
.ui-pnotify {
    background: #F00;
    position: relative;
    height: auto;
    z-index: 20000;
}
.ui-pnotify.stack-bottomleft {
    bottom: 25px;
    Left: 25px;
    top: auto;
    right: auto;
}
html > body .ui-pnotify {
    position: fixed;
    /* Hides position: fixed from IE6 */
}
.ui-pnotify .ui-pnotify-shadow {
    -webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
}
.ui-pnotify-container {
    background-position: 0 0;
    padding: .8em;
    height: 100%;
    margin: 0;
}
.ui-pnotify-sharp {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.ui-pnotify-closer,
.ui-pnotify-sticker {
    float: right;
    margin-left: .2em;
}
.ui-pnotify-title {
    display: block;
    margin: 0px;
}
.ui-pnotify-text {
    display: block;
    overflow: visible;
    text-wrap: normal;
}
.ui-pnotify-icon,
.ui-pnotify-icon span {
    display: block;
    float: left;
    margin-right: .2em;
}
/* -- History Pulldown */

.ui-pnotify-history-container {
    position: relative;
    background: #F00 !important;
    width: 70px;
    border-top: none;
    padding: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
    border-top-right-radius: 0;
    /* Ensures history container is above notices. */
    z-index: 9;
}
.ui-pnotify-history-container .ui-pnotify-history-header {
    padding: 2px;
}
.ui-pnotify-history-container button {
    cursor: pointer;
    display: block;
    width: 100%;
}
.ui-pnotify-history-container .ui-pnotify-history-pulldown {
    display: block;
    margin: 0 auto;
}
/*!
 * less than 320 = small mobile mode 
 */

@media (max-width: 400px) {
    .ViewControl img { width: 30px; }
    #ViewSelect {
        max-width: 60% !important;
    }
}
/*!
 * less than 700 = mobile mode 
 */

@media (max-width: 699px) {
    #welcome {
        margin: 0px auto;
        clear: both;
        display: block;
        text-align: right;
    }
    #ViewMenu,
    #ViewWrapper {
        height: auto;
    }
    #ViewMenu {
        width: 100% !important;
    }
    #ViewWrapper {
        width: auto !important;
    }
    #AvatarFocus {
        position: initial;
    }
    #AvatarViewMenu select, #AvatarViewMenu div { 
        clear: none !important; 
        float: left;
        margin: 0;
    }
    #welcome {
        text-align: left;
    }
    #identity {
        float: left;
        text-align: left;
        position: fixed;
        top: 69px;
    }
    #ViewMenu .section {
        clear: none;
        margin: 0;
        padding: 0;
    }
    #ViewSelect {
        max-width: 66%;
        margin-left: 75px !important;
    }
    .view-indented-more {
        left: 0 !important;
    }
    #FocusMainMenu button {
        display: block;
        width: 100%;
        margin: 0;
    }
    .FocusButtonLabel {
        display: inline-block !important;
    }
    .FocusButtonIcon {
        display: none !important;
    }
    .logon > div,
    .modal > div {
        width: 280px;
    }
}
@media (min-width: 700px) {
    #welcome {
        text-align: center;
    }
    #ViewMenu {
        width: 150px;
    }
    #ViewSelect {
        margin-right: 5px;
        margin-left: 5px;
    }
    #identity {
        width: 75px;
        height: 75px;
        margin-left: 75px;
        text-align: right;
        margin: 0;
        padding-top: 0 !important;
        float: right;
    }
    .section {
        margin-left: 5px !important;
    }

    .logon > div,
    .modal > div {
        width: 500px;
    }
}
div.olControlZoom {
    top: auto !important;
    bottom: 8px !important;
}
#TagSelectWidget {} #FocusEdit .ObjectEditDiv div {
    width: auto;
    float: left;
}
#welcomeoptions {} .PluginID {
    width: 14%;
    left: auto;
    float: left;
    margin: 0.25em;
    padding: 0.25em;
    min-height: 5em;
}
.PluginSettings {
    width: 50%;
    float: right;
}
.PluginID h3 {
    line-height: 15px;
}
.PluginID span {} .PluginEnabled {
    background-color: rgba(128, 255, 128, 0.4);
    border: 5px solid gray;
}
.PluginDisabled {
    background-color: rgba(255, 128, 128, 0.4);
    border: 5px solid gray;
}
.PluginInvalid {
    color: gray;
    border: 5px solid #ddd;
}
#FocusMainMenu button span {
    padding: 3px;
    margin: 0;
}
#FocusMainMenu button img {
    width: 1.5em;
    padding: 0;
}
#SaveButton span img {
    width: 2.0em;
    padding-left: 0.7em;
    padding-right: 0.7em;
}
#SwitchPersonaButton img {
    margin-bottom: -5px;
}
.olControlAttribution {
    display: none !important;
}
#ViewWrapper,
#ViewMenu {
    display: none;
}
.ui-pnotify {
    display: none;
}
#FocusTabs {
    font-size: 75%;
}
#Layer {
    max-height: 400px;
    overflow-y: scroll;
    text-align: left;
}
.TagLayer,
.KMLLayer,
.ExtLayer {
    cursor: crosshair;
}
.TagLayerInclude {
    color: #44ff44;
    opacity: 1.0;
}
.TagLayerExclude {
    color: #ff4444;
    opacity: 1.0;
}
.TagLayerFaded {
    opacity: 0.7;
}
.focusButton {
    width: 15px;
    height: 15px;
    cursor: crosshair;
    float: left;
}
.focusIncludeButtonActive {
    background-color: #86b226;
}
.focusExcludeButtonActive {
    background-color: #f66;
}
.focusLabel {} .focusClear {
    clear: both;
}
.logon {
    /* Overlay page content */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none;
    z-index: 10000;
    /* Transition opacity on open */
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
    /* Hide for now */
    opacity: 100;
}
/* Show modal */

.logon > div > div {
    z-index: 200000;
}
/* Content */

.logon > div {
    background: #fff;
    position: relative;
    margin: 10% auto;
    z-index: 200000;
    /* Default minimise animation */
    -webkit-animation: maximise 500ms linear;
    -moz-animation: maximise 500ms linear;
    /* Prettify */
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
    background: #fff;
    background: -moz-linear-gradient(#fff, #ccc);
    background: -webkit-linear-gradient(#fff, #ccc);
    background: -o-linear-gradient(#fff, #ccc);
    text-shadow: 0 1px 0 #fff;
}
.ui-widget-overlay {
    background: black !important;
    opacity: 0.7 !important;
}

.halfTransparent {
    opacity: 0.5;
}

#tagSelectHeader {
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid gray;
}
#tagsCombo {
    margin-left: 2em;
    margin-right: 0.5em;
}
#tagsCombo a {
    margin-left: 0.25em;
}

/*
* Perfect Modal
* http://www.paulrhayes.com/2011-03/css-modal/
*/

/* Container */

.modal {
    /* Overlay page content */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    /* Transition opacity on open */
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
    /* Hide for now */
    opacity: 0;
    pointer-events: none;
}
/* Show modal */

.modal:target {
    opacity: 1;
    pointer-events: auto;
    /* at time of writing (Feb 2012), pointer-events not supported by Opera or IE */
}
/* Content */

.modal > div {
    width: 500px;
    background: #fff;
    position: relative;
    margin: 10% auto;
    /* Default minimise animation */
    -webkit-animation: minimise 500ms linear;
    -moz-animation: minimise 500ms linear;
    /* Prettify */
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
    background: #fff;
    background: -moz-linear-gradient(#fff, #ccc);
    background: -webkit-linear-gradient(#fff, #ccc);
    background: -o-linear-gradient(#fff, #ccc);
    text-shadow: 0 1px 0 #fff;
}
/* Override animation on modal open */

.modal:target > div {
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
}
.modal h2 {
    font-size: 36px;
    padding: 0 0 20px;
}
@-webkit-keyframes bounce {
    0% {
        -webkit-transform: scale3d(0.1, 0.1, 1);
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
    }
    55% {
        -webkit-transform: scale3d(1.08, 1.08, 1);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
    }
    75% {
        -webkit-transform: scale3d(0.95, 0.95, 1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
    }
}
@-webkit-keyframes minimise {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
    }
    100% {
        -webkit-transform: scale3d(0.1, 0.1, 1);
    }
}
@-moz-keyframes bounce {
    0% {
        -moz-transform: scale3d(0.1, 0.1, 1);
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
    }
    55% {
        -moz-transform: scale3d(1.08, 1.08, 1);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
    }
    75% {
        -moz-transform: scale3d(0.95, 0.95, 1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    }
    100% {
        -moz-transform: scale3d(1, 1, 1);
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
    }
}
@-moz-keyframes minimise {
    0% {
        -moz-transform: scale3d(1, 1, 1);
    }
    100% {
        -moz-transform: scale3d(0.1, 0.1, 1);
    }
}
/* Modal close link */

/*
.modal a[href="#close"] {
    position: absolute;
    right: 0;
    top: 0;
    color: transparent;
}
*/
/* Reset native styles */
/*
.modal a[href="#close"]:focus {
    outline: none;
}
*/
/* Create close button */
/*
.modal a[href="#close"]:after {
    content: 'X';
    display: block;
    //
    position: absolute;
    right: -10px;
    top: -10px;
    width: 1.5em;
    padding: 1px 1px 1px 2px;
    //
    text-decoration: none;
    text-shadow: none;
    text-align: center;
    font-weight: bold;
    background: #000;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
*/
/*
.modal a[href="#close"]:focus:after,
.modal a[href="#close"]:hover:after {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
}

.modal a[href="#close"]:focus:after {
    outline: 1px solid #000;
}
*/

.MapControl {
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 5000;
}
/* HORIZONTAL jquery-ui MENU - http://stackoverflow.com/questions/12944364/how-to-make-jquery-ui-nav-menu-horizontal */

/* Clearfix for the menu */

.ui-menu:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.ui-menu .ui-menu-item {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    /*width: auto;*/
}
.ActionMenuGlobal {
    position: fixed;
    z-index: 3000;
    bottom: 0;
    right: 0;
    width: 30%;
}
.ActionMenuPopup {
    position: fixed;
    z-index: 5000 !important;
    overflow: visible !important;
    text-align: left;
    width: 150px;
    font-size: 100% !important;
    font-weight: normal;
}
.ActonMenuSubContents {
    width: 80%;
}
/* ------------------------------- */

.reveal {
    font-size: 150% !important;
    overflow: hidden;
}
.reveal .slides {
    text-align: left !important;
}
.reveal section {
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
}
.reveal section img {
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
}
.usContainer {
    overflow: auto;
    display: table;
    table-layout: fixed;
}
.goalviewColumn,
.goalviewColumnNarrow {
    width: 30%;
    min-width: 275px;
    height: 100%;
    overflow: auto;
    padding-left: 0.3em;
    padding-right: 0.3em;
    display: table-cell;
}
.goalviewColumnNarrow {
    width: 20%;
}
.goalRowHeading {
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 0.5em;
}
.alternatingDiv {
    clear: both;
}
.alternatingDiv:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.3);
}
.alternatingDiv:nth-child(odd) {
    background-color: rgba(240, 240, 240, 0.5);
}
.operatorDiv ul,
.alternatingDiv ul {
    margin: 0;
}
.operatorDiv {
    margin-bottom: 1em;
}
#goalviewList div {
    margin-bottom: 1em;
}
/*#goalviewList div:nth-child(odd) {	background: #ddd; } 
#goalviewList div:nth-child(even) {	background: #eee; } */

.GoalSummary {
    border: 2px solid gray;
    margin: 5px;
}
.centroidSummary {
    text-align: right;
}
.miniGoalSummary {
    margin-left: 2em;
    width: auto;
}
.timecell {
    cursor: crosshair;
    padding: 2px;
    margin: 2px;
    border: 1px solid gray;
}
.cesiumContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: sans-serif;
}
.ReconnectDialog {
    text-align: center;
}
.ReconnectDialog button {
    width: 75%;
    margin-top: 3em;
}
.fractaldom_surface {
    background-image: url('lib/slateboxjs/cursors/grid_transparent.png');
}
.link {
    pointer-events: none;
}
.node text {
    pointer-events: none;
    font: 10px sans-serif;
}
svg {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.TextReader textarea {
    width: 100%;
    min-height: 5em;
}

.Share  {
    clear: both;
    width: 98%;
    margin-top: 1em;
    margin-left: 1em;
}
.Share .ShareSidebar {
    width: 20%;
    float: left;
    position: fixed;
}
.Share .ShareContent {
    width: 75%;
    float: right;
}
.ShareSummary {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid gray;
}
.ShareSummary .ShareSummaryImage {
    width: 15%;
    float: left;
}
.ShareSummary .ShareSummaryImage img {
    width: 100%;
    max-width: 100%;
}
.ShareSummary .ShareSummaryContent {
    width: 82%;
    float: right;
}
.ShareSummaryContent h1, .ShareSummaryContent h2 {
    margin:0;
    margin-bottom: 0.2em;
}
.ShareSummaryContent ul {
    margin-bottom: 0.2em;
    padding-top: 0.5em;
}

.ShareSummaryContent img {
    max-height: 5em;
    max-width: 100%;
}
.ShareSummaryAction {
    float: left;
    width: 95%;
}
.ShareSummaryAction .ReplyInfo {
    opacity: 0.5;
}
.ShareSummaryAuthor {
    float: right;
    margin-left: 0.5em;
}
.SkillSlider {
    width: 98%;
}
.mainViewButton {
    list-style: none;
    cursor: pointer;
    padding: 0.25em;
}
.preview-holder {
    list-style: none !important;
    border: 2px solid gray !important;
}
.UserTagCode {
    max-height: 300px;
    overflow: scroll;
}
.timeline-navigation-delete {
    display: none
}
.timelineLabel {
    cursor: crosshair;
    font-size: 60%;
}
.timelineLabel h1 {
    margin: 0;
}
.SimilaritySection {
    margin-top: 1em;
    margin-bottom: 1em;
}
.objectViewBorderless .SimilaritySection {
    margin-left: 1em;
}
.SimilaritySection button {
    padding: 0;
}
.SimilaritySection ul {
    margin-left: 2em;
    margin-right: 1.5em;
}
.SimilaritySection li {
    display: inline;
    padding-left: 0 !important;
}


.clipboard {
    display: none
}
.terminal .cursor {
    background-color: gray;
}
.terminal, .cmd {
    color: black;
    background-color: transparent;
    cursor: text;
}
.terminal-output, .cmd {
    font-size: 130%;
    line-height: normal;
}
.terminal {
    margin: 0;
    padding:0;
    overflow: auto;
}
.terminal .terminal-output div div, .cmd .prompt {
    line-height: normal;
}

.sc-toolbar-container {
    border-bottom: 1px solid gray;
    padding-bottom: 3px;
    font-size: 70%;
}
.tagSectionItem p {
    margin: 0;
    padding: 0;
}
.htmlview {
    overflow: auto;
    max-height: 12em;
    overflow: auto;
    resize: vertical;
    height: auto;
    padding-bottom: 0.25em;
}
.htmleditable {
    cursor: text;
}
.markdown {
    padding: 0.25em;
}

.FocusTagCloud {
    max-height: 16em;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 0.5em;
    width: 100%;
}
.FocusTagCloud a {
    white-space: pre;
}
.FocusTagCloud button {
    background: transparent;
    border: none;
    margin: 0;
    padding-left: 2px;
    padding-right: 2px;
}
.ViewBusy {
    opacity: 0.5;
}
 .valueTagCloud {
    word-break: break-all;
   line-height: 0.5em;
 }
.valueTagCloud span {
    margin-right: 2px;
}
.tagFilterExclude {
    text-decoration: line-through;
    background-color: rgba(255,0, 0,0.25);
}
.tagFilterInclude {
    opacity: 0.8;    
    background-color: rgba(0,255,0,0.25);
}
