exports.options = {
    "id": null,
    "name": "Netention",
    "description": "http://netention.org",
    
    "memoryUpdateIntervalMS": 10 * 60 * 1000 /* 10 minutes */,

	web: {
		"host": "localhost",
		"port": "8080",
        "connection": "websocket", //'websocket' or 'static'
		"httpCompress": false,
		"webrtc": true, //webrtc server
		"password": ""  //HTTP simple authentication; leave blank to deactivate
	},	    
    
	
	/*
	//E-mail verification needs an e-mail account to mail from
    "email": {
        service: 'Gmail',
        auth: {
          user: '___@gmail.com',
          pass: ''
        }
    },
	*/


    
	
	//LevelUp/LevelDown 
	//	status: working	
	/*db: {
		type: 'levelup'
	},*/
	
	
	
	
	//LevelUp/MemDown - in-memory storage (activity is not saved)
	//	status: working
	db: null,
	
	
	/*
	//PouchDB - runs on LevelUp but adds revisions and other CouchDB features
	//	status: working
	db: {
		type: 'pouch',

		//optional pouchdb web server (w/ Fauxton management GUI)
		"web": {
			port: 8081
		},
	},
	*/
	
	
	/*
	//redis - doesnt work yet
	db: {
		type: 'levelup',
		backend: 'redisdown',
		require: 'redis' //hiredis is native binding to redis
	},
	*/
	
	
	/*
	//rocksdb
	db: {
		type: 'levelup',
		backend: 'level-rocksdb'
	},
	*/
	
	
	//lmdb
	//	status: working
	/*
	db: {
		type: 'levelup',
		backend: 'lmdb'
		//https://github.com/rvagg/lmdb#options
	},    
	*/
	
    "plugins": {
    },
    
	//admin=0, authenticated=1, anonymous=2, unauthenticated(public)=3
    "permissions": {
		"view_public_object": 2,
		
		"create_object": 2,
		
		"delete_own_object": 2,
		
		"delete_anything": 0,
		
		"connect": 2,		 //3 == allow public use, 2 == require login (even if anonymous)
        "enableAnonymous": true,
		
        "authenticate_to_configure_plugins": false,
        "authenticate_to_create_objects": false,
        "authenticate_to_delete_objects": false,
        "authenticate_to_proxy_http": false,
        "authenticate_to_create_profiles": false,
        "anyone_to_enable_or_disable_plugin": true,
    },
	
    "client": {    
        "autoLoginDefaultProfile": true, //should always be true
		
        "webrtc": true,
        "initialView": "wall",

		"avatarMenuDisplayInitially": true,
		"focusEditDisplayStartup": true,
        "favicon": null,
        "loginLogo": "/theme/login-logo.png",
        "defaultAvatarIcon": "/theme/default-avatar.jpg",
        "wikiStartPage": "Life",
        "showPlanOnSelfPage": true,
        "defaultTheme": "_bootswatch.cerulean",
        "maxStartupObjects": 8192,
        "defaultMapMode2D": true,
        "mapDefaultLocation": [40.44, -80.0],
        "ontologySearchIntervalMS": 1500,
        "viewlockDefault": false,
        "viewUpdateTime": [
            /* mobile: [ min update interval (ms), debounce time (ms), 1st view debounce time (ms) ]  */
            [150, 50, 250],
            /* desktop: [ min update interval (ms), debounce time (ms) ], 1st view debounce time (ms) */
            [0, 0, 100]
        ],
        "views": [
            "us",
            "map",
            "browse",
            "wiki",
            "graph",
            "share",
            //"templates",
            "forum",
            "main",
            "trends",
            "time",
            "notebook",
			"wall",
			"slides"
        ],
        "newUserProperties": ["walletRipple"],
        "shareTags": ['Offer', 'Sell', 'Lend', 'Rent', 'Swap', 'GiveAway', 'Need'],
        "shareCategories": ['Food', 'Service', 'Volunteer', 'Shelter', 'Tools', 'Health', 'Transport', 'Animal'],
		"knowTags": ['Learn', 'Teach', 'Do'],		
        "defaultScope": 7
	},
	
    start: function($N) {
    }
}

