body
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Arial;
}
#slateContainer
{
    width: 95%;
}
#slate
{
    float: left;
    width: 100%;
    height: 600px;
    border: 1px solid black;
    margin: 4px;
    /*background-color: #bbb;*/
    background-image: url('/lib/slateboxjs/cursors/grid.png');
}
#slateJson
{
    float: right;
    width: 350px;
    height: 400px;
    margin: 4px;
}
#slateJson textarea
{
    width: 350px;
    height: 200px;
}
#txtSlateLastUpdated
{
    padding: 4px;
    margin: 4px;
    border: 1px dashed #333;
    background-color: #FFFc51;
}
#slateMessage
{
    clear: both;
    height: 90px;
    overflow: auto;
    width: 400px;
    margin: 4px;
    border: 1px solid #333;
    font-size: 10pt;
}

/*notify js */
.embedBar
{
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #000;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#000'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#000)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #333, #000); /* for firefox 3.6+ */
    color: #fff;
}

.lnkCloseMessage
{
    font-size: 16pt;
    text-decoration: none;
    background-color: #F8F8F8;
    border: 1px dashed #ccc;
    padding: 2px 6px 2px 6px;
}
.lnkCloseMessage:hover
{
    background-color: #000;
    color: #fff;
}

/* context menu */
.sb_cm
{
    width: 150px;
    position: absolute;
    background-color: #f8f8f8;
    border: 1px solid #333;
}
.sb_contextMenuItem
{
    padding: 2px;
    margin: 3px;
    cursor: pointer;
    border: 1px dashed transparent;
}
.sb_contextMenuItem:hover
{
    background-color: #f1f1f1;
    border: 1px dashed #ccc;
}
