@import url('/lib/jquery-ui/1.10.4/themes/ui-lightness/jquery-ui.min.css');
h1 a {
    color: black;
}
#View {
    background: none !important;
}
#ViewMenu {
    opacity: 0.94;
    background-color: #149bdf;
}

.ui-widget-content {
    background-image: none;
    border-bottom-left-radius: 0;    
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;    
    border-top-right-radius: 0;
}
::-webkit-scrollbar-thumb {
       background-color: rgba(92, 146, 24, 0.59) !important;
}