
@import url("/theme/bright.css");

body {
    background-image: url('/theme/cybernetic/p2p_banner.jpg'); 
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;    
}
#ViewMenu {
    background-color: #149bdf;
	color: white;
}
#ViewMenu a {
	color: white;
}
.ui-widget-content {
	background: #eee;
	border: 2px solid #aaa;
}

