@import url("/theme/dark.css");

body, .display-window { background: url('/theme/matrix/matrix-red.gif') no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;background-attachment:fixed; }

#MainMenu { 
    border:none !important; background: none !important; moz-box-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; -ms-filter: none !important; filter: none !important; 
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { background: #C00 !important; border: #900 !important; }
