
@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);

@import url("/theme/dark.css");

body {
	background: #031924 url(metamaps/background.jpg) repeat 0 0;
    background-attachment: fixed;
    margin: 0;
    padding: 0;    
	font-family: 'Dosis', sans-serif;
}

