a.ViewControl:nth-child(14n+0) img { background:rgb(128,243,31) !important;}
a.ViewControl:nth-child(14n+1) img { background:rgb(175,215,7) !important;}
a.ViewControl:nth-child(14n+2) img { background:rgb(216,174,1) !important;}
a.ViewControl:nth-child(14n+3) img { background:rgb(244,126,13) !important;}
a.ViewControl:nth-child(14n+4) img { background:rgb(254,78,41) !important;}
a.ViewControl:nth-child(14n+5) img { background:rgb(247,38,83) !important;}
a.ViewControl:nth-child(14n+6) img { background:rgb(222,11,131) !important;}
a.ViewControl:nth-child(14n+7) img { background:rgb(183,1,178) !important;}
a.ViewControl:nth-child(14n+8) img { background:rgb(183,1,178) !important;}
a.ViewControl:nth-child(14n+9) img { background:rgb(136,9,218) !important;}
a.ViewControl:nth-child(14n+10) img { background:rgb(88,35,245) !important;}
a.ViewControl:nth-child(14n+11) img { background:rgb(45,74,254) !important;}
a.ViewControl:nth-child(14n+12) img { background:rgb(15,121,246) !important;}
a.ViewControl:nth-child(14n+13) img { background:rgb(1,169,219) !important;}