.Learn_section { display: none; }
.Do_section { display: none; }
.Teach_section { display: none; }
.DoTeach_section { display: none; }
.DoLearn_section { display: none; }
.Friend_section { display: none; }
.Enemy_section { display: none; }
